<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>57217297678-r07t1m8hqq1v4sv03ds1sk36eaml8rah.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.57217297678-r07t1m8hqq1v4sv03ds1sk36eaml8rah</string>
	<key>API_KEY</key>
	<string>AIzaSyAAFBLv4yBBF-wocB6uclMM4--HQ-GyJF0</string>
	<key>GCM_SENDER_ID</key>
	<string>57217297678</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ca.bcit.colin-to.expchef</string>
	<key>PROJECT_ID</key>
	<string>expchef</string>
	<key>STORAGE_BUCKET</key>
	<string>expchef.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:57217297678:ios:d4c0703430d80198cfbb5f</string>
</dict>
</plist>